body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: teal;
}

a {
    color: #039;
}
a:hover {
    color: #03F;
}

/* attribute selectors*/
/* pseudo-class selectors */
/* child selectors or sibling selectors*/
/*set heading styles*/