.transparent{
    background-color: transparent;
}
.transparent-bg{
    background-color:  rgba(0,0,0,0.5);
}
.teal-bgcolor{
    background-color: teal;
}
.green-bgcolor{
    background-color: #4CAF50;
}

.tomato-bgcolor{
    background-color: tomato;
}


.orange-bgcolor{
    background-color: orange;
}

.orangered-bgcolor{
    background-color: orangered;
}

.teal-tcolor{
    color:teal
}

.orangered-tcolor{
    color: orangered;
}