.clip{
    border-radius: 35px;
    background-color: orange;
    width: 150px;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
}
.greetings-clip {
    width: 110px;
    height: 39px;
    color: white;
    float: left;
    font-size: 1.2em;
    text-align: center;
    padding-top: 10px;
}

.picture-clip {
    height: 39px;
    width: 40px;
    border-radius: 35px;
    background-color: white;
    float: left;
}