#header, #main, #footer {
    width: 100%;
}

#header{
    height: 56px;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 105;
}

#main{
    height: 700px;
    background-color: aliceblue;
}


#footer{
    height: 50px;
    background-color: teal;
    bottom: 0;
    left: 0;
}

#side-bar{
    width: 70px;
    background-color: black;
    height: 100%;
}


